.suggested-list-item{
    border-bottom: 1px solid #dfdfdf;
    padding: 12px;
    padding-bottom: 5px;
    text-decoration: none;
    color: grey
   
  }
  .suggested-list-item:hover{
   cursor: pointer;
  }
  .suggested-list-item > img{
     width:100%;
     height: auto;
     margin-bottom: 10px;
     border-bottom: 4px solid rgb(94, 11, 11)
   }
  .suggested-list-item > img:hover{
    position: relative;
    top:-0.5px;
    box-shadow:0 0 4px 2px rgba(0, 140, 186, 0.8);
  
  }
  
  
  h6{
    margin-top:5px;
    font-size: 0.9em;
  }
  h6:hover{
    color:  rgba(0, 140, 186, 0.8)
  }
  .channel{
    font-size: 12px;
    margin-bottom: 4px
  }
  .channel:hover{
    font-size: 12px;
    color:  rgba(0, 140, 186, 0.8)
  }